BasedOnStyle: Microsoft
IndentWidth: 4
BreakBeforeBraces: Allman

# Language: C
UseTab: Never
AllowShortIfStatementsOnASingleLine: WithoutElse
AllowShortFunctionsOnASingleLine: All
PointerAlignment: Right
ColumnLimit: 100
